
.foodDiv{
    width: 200px;
    margin: 10px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.foodDiv img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}